 <article>
  <div class="blurb">
    <h1>{{title}}</h1>
    <p>The Official Rice Glue Website is a little content hub created by Daphne Cheung to build and document ideas.</p>
    <p>Daphne is a developer-in-perpetual-training wallowing in machine learning, data analytics, and web development. She also likes to dream up round quirky creatures.</p> 
    <p>She built this site using Angular 2, TypeScript, and Angular CLI.</p>
    <div class="links">
      <div class="bottom-link"><a href="mailto:daph&#46;cheung&#64;pigandshrub&#46;com">email</a></div>
    </div>
  </div>
</article>