<article>
  <h1>Privacy Policy</h1>
  <p class="mod-date"> (Last modified: February 9, 2019)</p>
  <p>Daphne Cheung ("I", "me", or "my") operates www.pigandshrub.com and any applications, including mobile applications, made available on the website (altogether known as the "Services"). This page informs you of my policy regarding the collection, use, and disclosure of information I receive from users or visitors of the Services.</p>
  <ol>
    <li>
      <h2>What Information Is Collected?</h2>
      <ul class="disc sublist">
        <li>Information you give:
          <ul>
            <li>
              <p>Your personal information, your files and the content of those files belong to you and any such information provided to me will be held in strict confidence. I do not share, disclose, distribute, sell or rent any of this information to any third parties. If a situation arises that requires any of this information, you will be asked for it beforehand, and you will have the choice to provide it or not. 
              </p>
              <p>Exceptions to disclosure of information include circumstances where disclosure is necessary to prevent a threat to life or health, to protect my legal rights, or if reasonably necessary to enforce the law.</p>
              <p>
            </li>
            
          </ul>
        </li>
        <li>Information from your use of the website:
          <ul>
            <li>
              <p>This website uses Universal Analytics, a web analysis service that pulls bits of information about visitors in an anonymous form and makes this information available to me in a readable format. This information may include:</p>
              <ul>
                <li>Cookies and Log Data
                <p>Small files that are placed on your computer to collect standard log information in an anonymous form. This includes information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of the Services you visit, the time and date of your visit, the time spent on those pages and other statistics. No personally identifiable information is collected. If you prefer not to receive cookies, you can adjust your internet browser to disable cookies or warn you when cookies are being used.</p>
                </li>
              </ul> 
               <p>For further information about Google's own privacy practices, see <a href="https://policies.google.com/technologies/partner-sites" target="_blank">Google's overview on data privacy and security<span class="off-screen">(opens a new window)</span></a><sup><span class="icon-new_window"></span></sup>.</p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <h2>How is the Collected Information Used?</h2>
      <p>I use the information to fix technical issues in order to provide, maintain, and improve the functionality, user experience, and quality of the Services. All activities involving this information conducted by me and through the Services are in accordance with the <a href="https://www.google.com/analytics/tos.html" target="_blank">Google Analytics Terms of Service<span class="off-screen">(opens a new window)</span></a><sup><span class="icon-new_window"></span></sup>.</p>
    </li>
    <li>
      <h2>Security of Your Information</h2>
      <p>While I strive to use reasonable precautionary measures to protect your information, no method of transmission over the Internet, or method of electronic storage, is 100% secure. I cannot guarantee its absolute security over the Internet.</p>
    </li>
    <li>
      <h2>How to Opt-Out of Providing This Information?</h2>
      <ul class="disc sublist">
        <li> Opting Out of Universal Analytics
          <p>Website visitors who do not want their data used by Universal Analytics can install the Google Analytics opt-out browser add-on. This add-on instructs the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) running on websites to prohibit their information from being used by Google Analytics. Visit the <a href="https://tools.google.com/dlpage/gaoptout" target="_blank">Google Analytics opt-out page<span class="off-screen">(opens a new window)</span></a><sup><span class="icon-new_window"></span></sup> and install the add-on for your browser. For more details on installing and uninstalling the add-on, please see the relevant help resources for your specific browser.</p>
        </li>
      </ul>
    </li>
    <li>
      <h2>Changes To This Privacy Policy</h2>
      <p>I reserve the right to update or change this Privacy Policy at any time. You should check this Privacy Policy periodically. Your continued use of the Services after I post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy. If I make any material changes to this Privacy Policy, I will notify you by placing a prominent notice on the Site.</p>
    </li>
    <li>
      <h2>Contact</h2>
      <p>If you have any questions about this Privacy Policy, please email <a href="mailto:support&#64;pigandshrub&#46;com">support&#64;pigandshrub&#46;com</a>.</p>
    </li>
  </ol>
</article>